<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="Microsoft.ServiceBus.ConnectionString"
         value="Endpoint=sb://softools.servicebus.windows.net/;SharedSecretIssuer=owner;SharedSecretValue=at5Wg6jad0RincLBARbwfj0Q19nGdbkkSfokKZvkQ6Y=" />
  </appSettings>
</configuration>
